/* styles.css */
h1 {
  color: brown;
}

.quotation {
  width: 100%;
}

.quotation, .quotation th, .quotation td {
  border: 1px solid brown;
  border-collapse: collapse;
}

.quotation th {
  background-color: brown;
  color: white;
}
